/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}
window#waybar {
  background: rgba(10, 25, 47, 0.9);
  border: 2px solid #0A192F;
  border-radius: 20px;
  padding: 30px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#clock,
#battery,
#pulseaudio,
#bluetooth,
#network {
  margin: 6px 4px;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 10px;
}

#clock {
  background: rgba(32, 89, 149, 0.85);
  color: #EAF6FF;
}

#battery {
  background: rgba(22, 160, 133, 0.85);
  color: #EAFBF7;
}

#battery.warning {
  background: rgba(230, 149, 57, 0.85);
  color: #1C1C1C;
}

#battery.critical {
  background: rgba(192, 57, 43, 0.9);
  color: #FFF5F5;
}

#pulseaudio {
  background: rgba(41, 128, 185, 0.85);
  color: #EAF6FF;
}

#pulseaudio.muted {
  background: #808080;
}

#bluetooth {
  background: #808080;
  color: #EAF6FF;
}

#bluetooth.connected {
  background: rgba(0, 98, 168, 0.85);
  color: #EAF6FF;
}

#network {
  background: rgba(0, 139, 168, 0.85);
  color: #EAF6FF;
  margin-right: 20px;
}

#network.disconnected {
  background: #808080;
  color: #EAF6FF;
  margin-right: 20px;
}
